.tables,
.menu {
    margin-top: 1em;
}

.tables-screen {
    height: 100vh;
    overflow: auto;
}

.menu-screen {
    height: 100vh;
    overflow: auto;
}

@media screen and (max-width: 600px) {
    .tables-screen {
        height: 50vh;
        overflow: auto;
    }
    .menu-screen {
        height: 50vh;
        overflow: auto;
    }
}

.card-panel {
    padding: 1.2rem;
}

.food-type {
    font-size: 12px;
}

.food-type+h5 {
    margin-top: 0.6em;
}

.search {
    margin: 0px auto;
    margin-bottom: 1em;
    padding: 3px 0.5em;
    width: 70%;
    border-radius: 10px;
}

.search>input {
    border-radius: 5px;
    text-align: center;
}

.close {
    position: relative;
    float: right;
    margin-top: -2.5em;
    color: #ef5350;
    display: none;
    cursor: pointer;
}

.modal-content-user {
    padding: 0px;
}

.modal-head {
    display: block;
    background-color: #3d4ead;
    padding: 1em;
    color: whitesmoke;
    font-size: 1.2em
}

.modal-body {
    display: block;
    padding: 1.5em;
}

.cursor-pointer {
    cursor: pointer;
}

.table-head tr th {
    text-align: center
}

.empty-table {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.delete {
    color: #707070
}

#tables-body {
    cursor: default;
}